# Ignore pytest cache and compiled files
__pycache__/
.pytest_cache/

# Ignore environment files
env/
.env

# Notes files
project-guide.md

# Ignore database files
*.db

# Ignore .vscode folder
.vscode/

*.sqlite

properties-433820-d7d8d5ab2856.json